body{
  background-color: darkcyan;
  color: white;
  font-family: 'Roboto', sans-serif;
}
main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1{
  font-size: 3rem;
  margin-bottom: 1rem;
}
button{
background-color: transparent;
border: 0;
display: inline-block;
width: 100px;
color: white;
cursor: pointer;
}
button:hover{
  background-color: darkcyan;
  color: rgb(206, 11, 37);
}
button.with-text{
  width: 100px;
  background-color: darkcyan;
  cursor: pointer;
} 
.container {
  display: flex;
}

.home-container {
  flex: 1;
}

.home-header {
  margin-bottom: 20px;
}

.navbar-container {
  flex: 1;
  background-color: #3498db; /* Change to your desired color */
  padding: 10px;
}

.navbar-container nav ul {
  margin: 0;
}

.navbar-container nav ul li {
  margin-right: 10px;
}

/* Additional styling as needed */
