.slider-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.slider-container label {
  margin-right: 10px;
}

.slider {
  height: 40px;
  border: 2px solid;
  border-radius: 15px;
  width: 300px; /* Adjust the width if needed */
  background-color: darkgray;
  position: relative;
}

.thumb {
  background-color: rgb(97, 104, 130);
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  position: absolute;
  top: 0;
}

.track {
  height: 40px;
  position: absolute;
  background-color: rgb(140, 139, 154);
  border-radius: 15px;
  overflow: hidden;
}

.slider .button {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(97, 104, 130);
  cursor: pointer;
  top: 50%; /* Vertical centering */
  transform: translateY(-50%); /* Vertical centering */
}

.slider .incrswrk,
.slider .incrsbrk {
  right: 0; /* Align with right edge of slider */
}

.slider .dcrswrk,
.slider .dcrsbrk {
  left: 0; /* Align with left edge of slider */
}